html
    head 
        title Admin Signup
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../assets/css/style.css")
    body 
        header
            h2 Admin Signup
        form(method="post", action="/admin/signup")
            input(type="text" placeholder="Enter Name" name="name")
            input(type="email" placeholder="Enter Email" name="email")
            input(type="text" placeholder="Enter Username" name="username")
            input(type="password" placeholder="Enter Password" name="password")
            button(type="submit" name="signup") Signup